<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, p {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
      #header {width:100%; height:60px; margin: 0 auto; padding: 0; background-color: #464646;}
      #header p {font-size: 35px; font-family: sans-serif; color: #fafafa; line-height: 60px; word-spacing: 5px; letter-spacing: 2px; width:auto; float: left;}
      #header a {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 5px;}
      #treklist {width: 90%; margin: 20px auto;}
      .region {margin-top: 50px;}
      .regionmap {float: left; width: 25%; }
      .regionmap p {font-size: 30px; font-family: sans-serif; font-weight: normal; color: #464646;}
      .regiontreks {float: left; width: 74%;}
      .regionmapimg { margin-top: 20px;}
      .regionmapimg img {width:100%;}
      .trek {margin: 20px auto; width:90%;}
      .trekname {font-size: 24px; font-family: sans-serif; font-weight: normal; color: #464646; padding-left: 100px; float: left; width: 300px; line-height: 32px;}
      .distance {font-size: 20px; font-family: sans-serif; font-weight: normal; color: green; float: left; width: 100px; margin-top: 5px;}
      .grade {font-size: 20px; font-family: sans-serif; font-weight: normal; color: red; float: left; width: 100px; margin-top: 5px;}
      .schedule {font-size: 18px; font-family: sans-serif; font-weight: normal; float: left; width: auto; background-color: lightblue; margin-top: 5px; line-height: 26px; border-radius: 15px;}
    </style>
    <script src="/static/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div style='width:93%; margin: 0 auto; height:60px;'>
        <p>Treks of Mumbai</p>
        <p><a href='/treks/create/'>Create Trek</a></p>
        <p><a href='/logout/'>Logout</a></p>
      </div>
    </div>

    <div id='treklist'>
      {%for region, treks in all_treks_dict.items%}
        <div class='region'>
          <div class='regionmap'>
            <p>{{region|title}} Region</p>
            <div class='regionmapimg'>
              <img src='/static/{{region}}_region.png' />
            </div>
          </div>
          <div class='regiontreks'>
            {%for trk in treks%}
              {%if forloop.first%}
                <div class='trek' style='margin-top:50px;'>
              {%else%}
                <div class='trek' style='margin-top:20px;'>
              {%endif%}
                <div class='trekname'>{{trk.name}}</div>
                <div class='distance'>{{trk.trekinfo.distance}}</div>
                <div class='grade'>{{trk.trekinfo.grade}}</div>
                <div class='schedule'>
                  {%for sch in trk.trekinfo.schedule%}
                    <p>&nbsp; {{sch.0}} &nbsp;</p>
                  {%endfor%}
                </div>
                <div><a href='/treks/{{trk.id}}/edit/'>Edit</a></div>
                <div style='clear:both;'></div>
              </div>
            {%endfor%}
          </div>
          <div style='clear:both;'></div>
        <div>
      {%endfor%}
    </div>
  </body>
  <script>
    $('.trek').hover(
        function(){
          //alert('hi');
          $(this).css('background-color', '#efefef');
        },
        function(){
          $(this).css('background-color', '#ffffff');
        }
      )
  </script>
</html>


