<html>
    <head>
        <title>Create Trek</title>
        <meta charset="utf-8">
        <style>
            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
            }
            #mainarea {margin: 30 auto; padding: 0; width: 90%;}
            
            #trekinfo1 {width: 100%; }
            #trekinfo1 input {width: 300px; height: 40px; font-size: 20px; font-family: sans-serif; float: left; margin-left: 20px;}
            #trekinfo1 p {padding: 0; margin: 0; font-size: 20px; font-family: sans-serif; float: left; line-height: 40px;}
            #trekinfo2 {width: 50%; margin-top: 50px; float: left;}
            #trekinfo3 {width: 50%; margin-top: 50px; float: left;}
            #trekinfo2 input {width: 200px; height: 30px; font-size: 20px; font-family: sans-serif;}
            #trekinfo2 p {padding: 0; margin: 0; font-size: 18px; font-family: sans-serif; float: left; line-height: 30px; min-width: 120px;}
            #trekinfo3 input {width: 200px; height: 30px; font-size: 20px; font-family: sans-serif;}
            #trekinfo3 p {padding: 0; margin: 0; font-size: 18px; font-family: sans-serif; line-height: 30px;}
            
            input[type='submit'] {font-size: 20px; margin: 20px;}

        </style>
        <script src="/static/jquery-1.10.0.min.js"></script>
    </head>
    <body>
        <div id='mainarea'>
            <form method='post' action='.'>
                <div id='trekinfo1'>
                    <p>Name of Trek: <p><input name='trekname' type='text' value='{{trek.name}}'/>
                    <div style='clear:both;'></div>
                </div>
                <div style='width:100%;'>
                    <div id='trekinfo2'>
                        <div style='width:100%; margin-top:20px;'>
                            <p>Intro: </p><textarea name='desc' style='width:300px; height:100px;'>{{trek.desc}}</textarea>
                        </div>
                        {%for k,v in trekinfo.items%}
                            <div style='width:100%; margin-top:20px;'>
                                <p>{{k|title}}: </p><input name='{{k}}' type='text' value='{{v|title}}'/>
                            </div>
                        {%endfor%}
                        <div style='width:100%; margin-top:20px;'>
                            <p>Region: </p>
                            <select name='region'>
                                <option value='matheran'>Matheran</option>
                                <option value='lonavala'>Lonavala</option>
                                <option value='karjat'>Karjat</option>
                                <option value='neral'>Neral</option>
                            </select>
                            <br/>
                        </div>
                        <div style='clear:both;'></div>
                    </div>
                    <div id='trekinfo3'>
                        <div style='width:100%;'>
                            <p>Upcoming Schedule: </p>
                            {%if schedule%}
                                {%for sch in schedule%}
                                    <div style='margin-left:50px;'>
                                        <div style='margin-top:20px;'>
                                            <p style='float:left; min-width:100px;'>Date:</p>
                                            <input name='date1' type='date' value='{{sch.0}}'/>
                                        </div>
                                        <div style='margin-top:20px;'>
                                            <p style='float:left; min-width:100px;'>Cost:</p><input name='cost' type='text' value='{{sch.1}}'/>
                                        </div>
                                        <div style='margin-top:20px;'>
                                            <p style='float:left; min-width:100px;'>Source:</p><input name='source' type='text' value='{{sch.2}}'/>
                                        </div>
                                    </div>
                                
                                    <hr style='width:75%; margin: 10 auto;'/>
                                {%endfor%}
                            {%else%}
                                <div style='margin-left:50px;'>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Date:</p>
                                        <input name='date1' type='date'/>
                                    </div>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Cost:</p><input name='cost' type='text' />
                                    </div>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Source:</p><input name='source' type='text' />
                                    </div>
                                </div>
                                
                                <hr style='width:75%; margin: 10 auto;'/>

                                <div style='margin-left:50px;'>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Date:</p>
                                        <input name='date1' type='date'/>
                                    </div>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Cost:</p><input name='cost' type='text' />
                                    </div>
                                    <div style='margin-top:20px;'>
                                        <p style='float:left; min-width:100px;'>Source:</p><input name='source' type='text' />
                                    </div>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            <input type='submit' value='submit'>
            </form>
        </div>
    </body>
</html>