<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, p {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
      #header {width:100%; height:60px; margin: 0 auto; padding: 0; background-color: #464646;}
      #header p {font-size: 35px; font-family: sans-serif; color: #fafafa; line-height: 60px; word-spacing: 5px; letter-spacing: 2px; width:auto; float: left;}
      #header a {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 5px;}
      #header #leftspan {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 30px;}
      #header #rightspan {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 5px;}
      #container {margin: 0 auto; padding-top: 20px; width: 90%; background-color: #efefef;}
      .legs {width: 100%; height: 150px; }
      .meta, .transport, .stay, .foodnother {margin:0; padding:0; width: 25%; height: 100%; display: inline-block; border: 1px solid grey; vertical-align: top;}
      .meta {width: 23%;}
    </style>
    <script src="/static/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div style='width:93%; margin: 0 auto; height:60px;'>
        <p>Leh Plan</p>
        <span id='leftspan'>(</span><a href='/treks/{{trek.id}}/edit/'>Edit</a><span id='rightspan'>)</span>
      </div>
    </div>
    <div id='container'>
      {%for i in itinerary%}
        <div class='legs'>
          <div class='meta'>
            <div style='width:85%; height:30%; margin: 10px auto;'>
              <div style='min-width:50%; float:left;'>
                <p style='font-size: 22px; font-family:sans-serif; line-height:22px; padding-top:5px;'>Day 1</p>
                <p style='font-size: 12px; font-family:sans-serif; line-height:12px; padding-top:10px;'>12 pm</p>
              </div>
              <div style='min-width:50%; float:left;'>
                <p style='font-size: 22px; font-family:sans-serif; line-height:20px; padding-top:5px;'>Day 2</p>
                <p style='font-size: 12px; font-family:sans-serif; line-height:12px; padding-top:10px;'>1 pm</p>
              </div>
            </div>
            <div style='width:85%; height:69%; margin: 40px auto;'>
              <div style='min-width:50%; float:left;'>
                <p style='font-size: 24px; font-family:sans-serif; line-height:22px; padding-top:5px;'>Mumbai</p>
              </div>
              <div style='min-width:50%; float:left;'>
                <p style='font-size: 24px; font-family:sans-serif; line-height:20px; padding-top:5px;'>Delhi</p>
              </div>
            </div>
          </div>
          <div class='transport'>
            <div style='width:85%; height:30%; margin: 0px auto;'>
              <div style='min-width:50%; float:left;'>
                <p style='font-size: 22px; font-family:sans-serif; line-height:40px; padding-top:5px;'>Transport</p>
              </div>
              <div style='min-width:50%; float:left; padding-top:10px;'>
                <select style='font-size: 16px; font-family:sans-serif; line-height:16px; width:75%;'>
                  <option value='train'>Train</option>
                  <option value='flight'>Flight</option>
                  <option value='bus'>Bus</option>
                </select>
              </div>
            </div>
            <div style='width:85%; height:70%; margin: 0px auto;'>
              <div style='width:85%; height:35%; margin: 0px auto;'>
                <div style='min-width:50%; float:left;'>per person</div>
                <div style='min-width:50%; float:left;'>
                  <p style='font-size: 16px; font-family:sans-serif; line-height:16px;'>Rs. 650<p>
                </div>
                <div style='clear:both;'></div>
              </div>
              <div style='width:85%; height:30%; margin: 0px auto;'>
                <div style='min-width:50%; float:left;'>no of person</div>
                <div style='min-width:50%; float:left;'>
                  <p style='font-size: 16px; font-family:sans-serif; line-height:16px;'>X &nbsp; &nbsp; &nbsp; 6<p>
                </div>
              </div>
              <div style='width:85%; height:35%; margin: 0px auto;'>
                <div style='min-width:50%; float:left;'>cost</div>
                <div style='min-width:50%; float:left;'>
                  <p style='font-size: 16px; font-family:sans-serif; line-height:16px;'>Rs. 3900<p>
                </div>
              </div>
            </div>
          </div>
          <div class='stay'>
          </div>
          <div class='foodnother'>
          </div>
        </div>
      {%endfor%}
    </div>
    
  </body>
</html>
<!--
  Day 1, 12pm @Mumbai - Day 2, 1pm evening @Delhi
  Day 1, 12pm @Mumbai - Day 2, 1pm evening @Delhi
-->

