<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, p {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
      #header {width:100%; height:60px; margin: 0 auto; padding: 0; background-color: #464646;}
      #header p {font-size: 35px; font-family: sans-serif; color: #fafafa; line-height: 60px; word-spacing: 5px; letter-spacing: 2px; width:auto; float: left;}
      #header a {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 5px;}
      #header #leftspan {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 30px;}
      #header #rightspan {float: left; font-size: 20px; font-family: sans-serif; color: green; line-height: 60px; margin-left: 5px;}

      #map-canvas {
        margin: 0; padding: 0; height: 350px; width: 640px; display: inline-block; border: 0px dotted grey;
      }

      #trekmeta1 {display:none; margin: 0px auto; width: 100%; background-color: #f4f4f4;}
      #trekmeta1 p {font-size: 20px; font-family: sans-serif; padding: 0; width: auto;}
      #centercontainer {margin-top: 20px; padding: 0; width: 50%; display: inline-block; vertical-align: top;}
      #leftcontainer p {font-size: 20px; font-family: sans-serif; padding: 0; width: auto;}
      #leftcontainer {
                        margin-top: 0px; padding: 0; width: 49%; display: inline-block; vertical-align:top;
                    }
      #leftcontainer p {font-size: 20px; font-family: sans-serif; padding: 0; width: auto; line-height: 20px;}

      #rightcontainer {margin: 0; padding: 0; height: 400px; width: 0%; display: inline-block; vertical-align: top;}
      #container {margin: 0 auto; padding-top: 0px;  width: 100%; background-color: #f3f3f3;}
      #treklist {margin: 50px auto; padding: 0; width: 95%;}
      .trek {float:left; width:23%; margin: 10px; border:1px dotted grey;}
      .trek p {font-size: 20px; font-family: sans-serif; width: auto; margin: 0 auto;}
      #details {display: none; margin: 0; padding: 0; width: 100%;}
      #desc {
              width: 100%; margin: 0px auto; padding-top: 20px; 
              -webkit-column-count: 1;
              -webkit-column-rule: 1px solid #bbb;
              -webkit-column-gap: 1em;
            }
      #desc p {font-size: 16px; line-height: 26px;  word-spacing: 3px; font-family: sans-serif; width: 92%; margin: 0px auto;}
      #otherdetails {width: 40%; float: left;}
      #otherdetails img {width: 250px; height: 200px; margin: 0; padding: 0; }
      li {margin-top: 10px;}
    </style>
    <script src="/static/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div style='width:93%; margin: 0 auto; height:60px;'>
        <p>{{trek.name}}</p>
        <span id='leftspan'>(</span><a href='/treks/{{trek.id}}/edit/'>Edit</a><span id='rightspan'>)</span>
        
      </div>
      
    </div>
    <div id='trekmeta1'>
      <div style='width:95%; padding-top: 10px; margin:0 auto;'>
        <div style='width:55%; float:left;'>
          {%for k,v in trekinfo.items%}
            <div style='width:200px; float:left; margin:10px;'>
                <div style='float:left; width:50%; color: #464646;'>
                  <p>{{k|title}}:</p>
                </div>
                <div style='float:left; width:50%; font-weight:bold; color: #666666;'>
                  <p>{{v|title}}</p>
                </div>
                <div style='clear:both;'></div>
            </div>
          {%endfor%}
        </div>
        <div style='width:44%; float:left;'>
          <div style='margin-left:0px; width:40%; float:left;'>
                <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>Start Point:</p>
                <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                  <option>Mumbai(CST) - Karjat</option>
                  <option>Mumbai(CST) - Khandala</option>
                  <option>Mumbai(Dadar) - Khandala</option>
                  <option>Pune - Khandala</option>
                </select>
                <div id='transport_start' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                  <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                  <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                  <div style='clear:both;'></div>
                </div>
                <div style='clear:both;'></div>
            </div>
            <div style='margin-left:100px; width:40%;  float:left;'>
                <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>End Point:</p>
                <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                  <option>Karjat - Mumbai</option>
                  <option>Khandala - Mumbai</option>
                  <option>Khandala - Pune</option>
                </select>
                <div id='transport_end' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                  <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                  <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                </div>
                <div style='clear:both;'></div>
            </div>
            <div style='clear:both;'></div>
        </div>
        <div style='clear:both;'></div>
        <br/>
      </div>
    </div>
    
    <div>
      <div style='width:50%; margin: 0 auto; padding-top:0px; padding-bottom:0px; float:left;'>
              {%for k,v in trekinfo.items%}
                <div style='width:220px; float:left; margin-top:10px; margin-bottom:10px;'>
                    <div style='float:left; width:50%; color: #464646;'>
                      <p>{{k|title}}:</p>
                    </div>
                    <div style='float:left; width:50%; font-weight:bold; color: #666666;'>
                      <p>{{v|title}}</p>
                    </div>
                    <div style='clear:both;'></div>
                </div>
              {%endfor%}
              <div style='clear:both;'></div>
      </div>
      <div style='width:50%; margin: 30px auto; padding-bottom:00px; float:left;'>
              <div style='margin-left:0px; width:40%; float:left;'>
                    <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>Start Point:</p>
                    <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                      <option>Mumbai(CST) - Karjat</option>
                      <option>Mumbai(CST) - Khandala</option>
                      <option>Mumbai(Dadar) - Khandala</option>
                      <option>Pune - Khandala</option>
                    </select>
                    <div id='transport_start' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                      <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                      <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                      <div style='clear:both;'></div>
                    </div>
                    <div style='clear:both;'></div>
              </div>
              <div style='margin-left:100px; width:40%;  float:left;'>
                    <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>End Point:</p>
                    <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                      <option>Karjat - Mumbai</option>
                      <option>Khandala - Mumbai</option>
                      <option>Khandala - Pune</option>
                    </select>
                    <div id='transport_end' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                      <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                      <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                    </div>
                    <div style='clear:both;'></div>
              </div>
              <div style='clear:both;'></div>
      </div>
    </div>

    <div id='container'>
      <div id='leftcontainer'>
        <div style='width:90%; margin: 0 auto; background-color:#; -webkit-border-radius: 5px;'>
          <div style='width:90%; margin: 0 auto; padding-top:20px; padding-bottom:10px;'>
              {%for k,v in trekinfo.items%}
                <div style='width:220px; float:left; margin-top:10px; margin-bottom:10px;'>
                    <div style='float:left; width:50%; color: #464646;'>
                      <p>{{k|title}}:</p>
                    </div>
                    <div style='float:left; width:50%; font-weight:bold; color: #666666;'>
                      <p>{{v|title}}</p>
                    </div>
                    <div style='clear:both;'></div>
                </div>
              {%endfor%}
              <div style='clear:both;'></div>
          </div>

          <hr/>
          
          <div style='width:90%; margin: 30px auto; padding-bottom:10px;'>
              <div style='margin-left:0px; width:40%; float:left;'>
                    <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>Start Point:</p>
                    <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                      <option>Mumbai(CST) - Karjat</option>
                      <option>Mumbai(CST) - Khandala</option>
                      <option>Mumbai(Dadar) - Khandala</option>
                      <option>Pune - Khandala</option>
                    </select>
                    <div id='transport_start' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                      <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                      <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                      <div style='clear:both;'></div>
                    </div>
                    <div style='clear:both;'></div>
              </div>
              <div style='margin-left:100px; width:40%;  float:left;'>
                    <p style='font-size:20px; font-weight:bold; font-family:sans-serif; padding: 0;'>End Point:</p>
                    <select style='margin-top:20px; font-size:18px; margin-left:10px;'>
                      <option>Karjat - Mumbai</option>
                      <option>Khandala - Mumbai</option>
                      <option>Khandala - Pune</option>
                    </select>
                    <div id='transport_end' style='margin-top:10px; font-size:18px; margin-left:10px;'>
                      <img src='/static/train.png' style='width:25px; height:25px; float:left;'/>
                      <p style='font-size:14px; font-weight:bold; margin:0; padding:0; line-height:25px; margin-left: 20px; float:left; width:auto;'>6am  &nbsp;/&nbsp;  7am &nbsp;/&nbsp; 8am</p>
                    </div>
                    <div style='clear:both;'></div>
              </div>
              <div style='clear:both;'></div>
          </div>

          <hr/>

          <div style='width:90%; margin: 30px auto; padding-bottom:10px;'>
              <p style='font-weight:bold; margin:0; padding:0;'>Upcoming Schedules:</p>
              <div style='margin-top:20px;'>
                <div style='float:left; margin-left:20px; font-size:22px; font-weight:normal; font-family:sans-serif; color:#464646;'>16th June 2013</div>
                <div style='float:left; margin-left:50px; font-size:22px; font-weight:normal; font-family:sans-serif; color:#464646;'>Rs. 300/person</div>
                <div style='float:left; margin-left:50px; font-size:18px; font-weight:normal; font-weight:bold; font-family:sans-serif;'><a href='trekoking.blogspot.in/2013/05/trek-o-king-night-trek-to-peb-fort-on.html' style='color:#464646;'>Details</a></div>
                <div style='clear:both;'></div>
              </div>

              <div style='margin-top:20px;'>
                <div style='float:left; margin-left:20px; font-size:22px; font-weight:normal; font-family:sans-serif; color:#464646;'>16th June 2013</div>
                <div style='float:left; margin-left:50px; font-size:22px; font-weight:normal; font-family:sans-serif; color:#464646;'>Rs. 300/person</div>
                <div style='float:left; margin-left:50px; font-size:18px; font-weight:normal; font-weight:bold; font-family:sans-serif;'><a href='trekoking.blogspot.in/2013/05/trek-o-king-night-trek-to-peb-fort-on.html' style='color:#464646;'>Details</a></div>
                <div style='clear:both;'></div>
              </div>
          </div>

          <hr/>

          <div style='width:90%; margin: 30px auto; padding-bottom:20px;'>
            <img src='' style='float:left; width:240px; height:200px; margin:5px;'/>
            <img src='' style='float:left; width:240px; height:200px; margin:5px;'/>
            <img src='' style='float:left; width:240px; height:200px; margin:5px;'/>
            <img src='' style='float:left; width:240px; height:200px; margin:5px;'/>
            <div style='clear:both;'></div>
          </div>

          <div style='width:90%; margin: 30px auto; padding-bottom:20px;'>

            <p style='font-size:20px; font-weight:bold; font-family:sans-serif;'>Check List: </p><br>
            <ul style='width:90%; margin: auto; font-size:14px; font-family:sans-serif; line-height:24px;'>
              <li>A haversack to put in all the things to be carried. So that one has hands free while trekking.</li>
              <li>A bottle of water (1.5 ltr).</li>
              <li>Lunch</li>
              <li>Camera (Optional).</li>
              <li>Electoral / Energy powder, 2 Lemon, some snacks & biscuits (optional).</li>
              <li>Torch with extra batteries.</li>
              <li>Personal medicines & 2 plastic bags for weight distribution, mosquito’s cream.</li>
              <li>A good trekking shoes.</li>
            </ul>
          </div>

        </div>
      </div>

      <div id='centercontainer'>
        <div>
          <div style='background-color:#efefef; -moz-border-radius: 15px; -webkit-border-radius: 15px; border: 1px solid #009900; padding: 5px; width:auto; font-weight:600; float:left;'>
            <a href='' style='font-size:16px; font-family:sans-serif; text-decoration:none; color:#464646;'>&nbsp;Add to Schedule&nbsp;</a>
          </div>
          <div style='background-color:#efefef; -moz-border-radius: 15px; -webkit-border-radius: 15px; border: 1px solid #009900; padding: 5px; width:auto; font-weight:600; float:left; margin-left:30px;'>
            <a href='' style='font-size:16px; font-family:sans-serif; text-decoration:none; color:#464646;'>&nbsp;Share on Facebook&nbsp;</a>
          </div>
          <div style='background-color:#efefef; -moz-border-radius: 15px; -webkit-border-radius: 15px; border: 1px solid #009900; padding: 5px; width:auto; font-weight:600; float:left; margin-left:30px;'>
            <a href='' style='font-size:16px; font-family:sans-serif; text-decoration:none; color:#464646;'>&nbsp;Share on Twitter&nbsp;</a>
          </div>
        </div>
        <canvas id="map-canvas" height="350" width="640"></canvas>
        <div id='desc'>
          <p>
            Located in the same mountain range as Matheran, Peb fort is a enjoyable trek for a day’s outing.
            
            The fort derives it name from the Goddess 'Pebi'; Peb is also called 'Vikatgad' for its supposed shape of the Elephant Headed God, 'Ganesh'. The trek to the top involves surmounting a small rock patch and a ladder.
            <br/><br/>
            The fort is famous for its caves which are maintained by disciples of Swami Samartha and the meditation chambers carved out from the rock inside the mountain. To get inside the meditation chamber, one has to crawl through a narrow passage in the rock and then climb down into the meditation chamber. The chamber is very well maintained with tiles on the floor for ppl to sit and meditate.
          </p>
        </div>
        
      </div>
      <div id='rightcontainer'>
      </div>
      <div style='clear:both;'><div>
    </div>
    
    <div id='treklist'>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Rajmachi Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Peb Fort Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>10 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Bhimashankar Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Sidhugarh Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Matheran Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px; '>Visapur Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>
      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px;'>Harishchandra Gad Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>

      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px;'>Bhivpuri Water fall rappelling</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>

      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px;'>Sudhagad Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>

      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px;'>Irshalgad Trek</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>

      <div class='trek'>
        <div style='border-bottom:1px dotted grey; height:30px; padding-left:5px;'>
          <p style='font-size:20px; line-height:30px;'>Vihi Water fall rappelling</p>
        </div>
        <div style='padding-left:5px; margin-bottom: 10px;'>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Distance: <span><span style='font-size:16px; font-weight:bold;'>14 km</span></p>
          <p style='margin-top:10px;'><span style='font-size:14px;'>Difficulty: <span><span style='font-size:16px; font-weight:bold;'>Moderate</span></p>
        </div>
      </div>

      <div style='clear:both;'></div>
    </div>
  </body>
  <script src="/static/test.js"></script>
  <script>
      var trek_route_detail = jQuery.parseJSON('{{trekdetail_list|safe}}');

      var canvas = document.getElementById('map-canvas');
      var context = canvas.getContext('2d');
      function getPoint(latitude, longitude, canvas_width, canvas_height) {
            var obj = {};
            obj.x = (latitude * canvas_height / 180.0) + (canvas_height / 2);
            obj.y = (longitude * canvas_width / 360.0) + (canvas_width / 2);
            return obj;
      }
      function drawCilcle(ctx, centerX, centerY, radius){
          ctx = canvas.getContext('2d');
          ctx.beginPath();
          ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
          ctx.fillStyle = 'green';
          ctx.fill();
          ctx.strokeStyle = '#003300';
          ctx.stroke();
      }
      function drawNode(ctx, x, y, img, text, pos){
          //draw node
          ctx.beginPath();
          ctx.arc(x.val, y.val, 4, 0, 2 * Math.PI, false);
          ctx.fillStyle = '#363636';
          ctx.fill();
          ctx.lineWidth = 2;
          ctx.strokeStyle = '#363636';
          ctx.stroke();

          //draw text
          ctx.font = '14pt sans-serif';
          ctx.fillStyle = 'red';
          var new_x, new_y;
          if (x.flag=='min'){
            new_x = x.val + 15;
          }else if(x.flag=='max'){
            new_x = x.val + 15;
          }else{
            new_x = x.val + 15;
          }
          if (y.flag=='min'){
            new_y = y.val;
          }else if(x.flag=='max'){
            new_y = y.val;
          }else{
            new_y = y.val;
          }
          ctx.fillText(text, new_x, new_y+3);
          
          //draw image
          var metrics = ctx.measureText(text);
          var width = metrics.width + 5;
          var imageObj = new Image();
          imageObj.onload = function() {
            if (pos=='left'){
              ctx.drawImage(imageObj, new_x+width, y.val-15, 25, 25);
              //ctx.drawImage(imageObj, new_x-45, y.val-15, 25, 25);
            }
            if (pos=='right'){
              ctx.drawImage(imageObj, new_x+width, y.val-15, 25, 25);
              //ctx.drawImage(imageObj, new_x-45, y.val-15, 25, 25);
            }
          };
          imageObj.src = img;


          //draw time
          ctx.font = '9pt sans-serif';
          ctx.fillText('9am', new_x-60, new_y);
          ctx.fillText('10am', new_x-60, new_y+15);
      }
      function drawBusPath(ctx, x1, y1, x2, y2){
          ctx.beginPath();
          ctx.lineWidth = 2;
          ctx.moveTo(x1.val, y1.val);
          ctx.lineTo(x2.val, y2.val);
          ctx.stroke();
      }
      function drawTrekPath(ctx, x1, y1, x2, y2) {
          var dx = x2.val - x1.val;
          var dy = y2.val - y1.val;

          var len = Math.sqrt(dx*dx + dy*dy);
          var nx = 2 * -dy;
          var ny = 2 * dx;

          var t = Math.random();
          var left = 1 //(t < 0.5) ? -1 : 1;
          var right = -left;

          var c1x = (x1.val + 0.3*dx) + 0.3*nx*left;
          var c1y = (y1.val + 0.3*dy) + 0.3*ny*left;
          
          var c2x = (x2.val - 0.2*dx) + 0.4*nx*right;
          var c2y = (y2.val - 0.2*dy) + 0.4*ny*right;

          ctx.lineWidth = 2;
          ctx.moveTo(x1.val, y1.val);
          ctx.bezierCurveTo(c1x, c1y, c2x, c2y, x2.val, y2.val);

          //ctx.moveTo(x2.val, y2.val);
          //ctx.setLineDash([5]);
          //ctx.bezierCurveTo(c1x, c1y, c1x, c1y, x1.val, y1.val);

          ctx.stroke();
      }


      function drawTrek(context){
          for (var i=0; i<trek_route_detail.length; i++){
              var pos = (i%2==0) ? 'left' : 'right'
              if (i==0){
                  drawNode(context, trek_route_detail[i][12], trek_route_detail[i][11], trek_route_detail[i][4], trek_route_detail[i][1], pos);
                  drawNode(context, trek_route_detail[i][14], trek_route_detail[i][13], trek_route_detail[i][9], trek_route_detail[i][6], pos);
              }else{
                  drawNode(context, trek_route_detail[i][14], trek_route_detail[i][13], trek_route_detail[i][9], trek_route_detail[i][6], pos);
              }
              if (trek_route_detail[i][0]=='/static/bus.png'){
                  drawBusPath(context, trek_route_detail[i][12], trek_route_detail[i][11], trek_route_detail[i][14], trek_route_detail[i][13])
              }
              if (trek_route_detail[i][0]=='/static/trek.png'){
                  drawTrekPath(context, trek_route_detail[i][12], trek_route_detail[i][11], trek_route_detail[i][14], trek_route_detail[i][13])
              }
              if (trek_route_detail[i][0]=='/static/train.png'){
                  drawBusPath(context, trek_route_detail[i][12], trek_route_detail[i][11], trek_route_detail[i][14], trek_route_detail[i][13])
              }

              //drawCilcle(trek_route_detail[0][10], trek_route_detail[0][9], 5);
              //drawCilcle(trek_route_detail[0][12], trek_route_detail[0][11], 1);
              //drawCilcle(trek_route_detail[1][12], trek_route_detail[1][11], 5);
              //drawCilcle(trek_route_detail[2][12], trek_route_detail[2][11], 5);
              //drawCilcle(trek_route_detail[3][12], trek_route_detail[3][11], 5);
          }
      }

      trek_route_detail = f(trek_route_detail);
      drawTrek(context);
    </script>
</html>


